html,
body,
#root {
  margin: 0;
  color: unset;
  font-size: unset;
  font-family: unset;
  font-variant: unset;
  line-height: unset;
  background-color: unset;
  font-feature-settings: unset !important;
  width: unset;
  height: unset;
  -webkit-font-smoothing: unset;
  box-sizing: unset;
  --antd-wave-shadow-color: unset;
  --scroll-bar: unset;
  display: unset;
}

 

.Ticket {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  width: 345px;
  margin: 100px auto 0;
  min-height: 135px;
  padding: 10px 0.5rem;
  box-shadow: 0px 0px 14px 4px #ccc;
}

.Ticket img {
  margin-bottom: 1rem;
  /* height: 7rem; */
} 

.Ticket .ticket-body {
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0 15%;
  font-family: sans-serif;
  letter-spacing: 0.36px;
}

.Ticket .ticket-body img{
  width: 70px !important;
}
 
.Ticket .ticket-body h2 {
  float: left;
  margin-top: 7px;
  font-size: 28px;
  width: 63%;
  text-align: left;
  padding-left: 2%;
}
 
.Ticket .ticket-body .phone-number {
  font-size: 17px;
  width: 100%;
  clear: both;
  text-align: left;
  padding-left: 5px;
  padding-top: 3px;
  margin-bottom: 0;
}
 
#window-print {
  float: right;
  margin-top: 15px;
}

@media print {
  * {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    line-height: 1.1;
  }
 
  .ant-table-wrapper,
  #header,
  .filter-form,
  #window-print {
    display: none;
  }
  .ant-card-body ul li {
    font-size: 7px;
  }

  .ant-list .ant-row > div {
    width: 33% !important;
    max-width: 58% !important;
  }
}
.ant-card-body ul,
.ant-modal-body ul {
  list-style: none;
  padding: 0;
}

.ant-card-body ul li,
.ant-modal-body ul li {
  text-align: left;
  font-size: 22px;
  border-bottom: solid 1px #ccc;
  padding-left: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
}

.ant-modal-body ul li {
  width: 47%;
  padding-right: 7px;
  margin-right: 3%;
  float: left;
}

.ant-card-body ul li:hover,
.ant-modal-body ul li:hover {
  background-color: #f2f1f1;
}

.ant-card-body ul li b,
.ant-modal-body ul li b {
  float: right;
  padding-right: 5px;
}

.Ticket .ticket-footer h3 {
  line-height: 30px;
  font-size: 19px;
}

.vvaq-table td:last-child {
  width: 27%;
}

.my-list-items {
  width: 36%;
  height: 290px;
  line-height: 290px;
  background-color: #0092ff;
  color: #fff;
  font-size: 36px;
  margin: 25vh 7% 0 7%;
  border-radius: 4px;
  float: left;
  box-shadow: 0px 0px 3px 2px #e6e0e0;
}
