html,
body,
#root {
  margin: 0;
  color: unset;
  font-size: unset;
  font-family: unset;
  font-variant: unset;
  line-height: unset;
  background-color: unset;
  font-feature-settings: unset !important;
  width: unset;
  height: unset;
  -webkit-font-smoothing: unset;
  box-sizing: unset;
  --antd-wave-shadow-color: unset;
  --scroll-bar: unset;
  display: unset;
}

 

.Ticket {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  width: 345px;
  margin: 30px auto 20px;
  min-height: 135px;
  padding: 10px 0.5rem;
  box-shadow: 0px 0px 14px 4px #ccc;
}

.Ticket img {
  margin-bottom: 1rem;
  /* height: 7rem; */
} 

.Ticket .ticket-body {
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0 15%;
  font-family: sans-serif;
  letter-spacing: 0.36px;
}

.Ticket .ticket-body img{
  width: 70px !important;
}
 
.Ticket .ticket-body h2 { 
  margin-top: 7px;
  font-size: 28px; 
  text-align: left;
  padding-left: 2%;
  margin-bottom: 0;
}
  
.Ticket .ticket-body .product-price { 
  margin: 15px 0;
}

 
#window-print {
  float: right;
  margin-top: 15px;
}

@media print {
  * {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    line-height: 1.1;
  }
 
  .ant-table-wrapper,
  #header,
  .filter-form,
  #window-print {
    display: none;
  }
  .ant-card-body ul li {
    font-size: 7px;
  }

  .ant-list .ant-row > div {
    width: 33% !important;
    max-width: 58% !important;
  }
}
 
 
 

.Ticket .ticket-footer h3 {
  line-height: 30px;
  font-size: 19px;
}
 

.my-list-items {
  width: 36%;
  height: 290px;
  line-height: 290px;
  background-color: #0092ff;
  color: #fff;
  font-size: 36px;
  margin: 25vh 7% 0 7%;
  border-radius: 4px;
  float: left;
  box-shadow: 0px 0px 3px 2px #e6e0e0;
}
